<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admindashboard.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="dashboard">
            <a class="block-link" href="">
                <div class="block">
                    <h1>Total Registered</h1>
                    <span>1000</span>
                </div>
            </a>
        
            <a class="block-link" href="">
                <div class="block">
                    <h1>Pending Requests</h1>
                    <span>1000</span>
                </div>
            </a>
        
            <a class="block-link" href="">
                <div class="block">
                    <h1>Reports</h1>
                    <span>1000</span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>