<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>
<body>
    <header>
        <header>
            <div class="container">
                <div class="nav">
                    <div class="head">
                        Billing Software
                    </div>
                    <div class="links">
                        <!-- <a href="/">Home</a> -->
                        <!-- <a href="/user/signup-page">SignUp</a> -->
                        <a href="/user/signout"><span class="material-symbols-outlined">
                            logout
                            </span></a>
                            <a class="account-btn" href="/user/account"><span class="material-symbols-outlined">
                                account_circle
                                </span></a>
                        
                        
                    </div>
                    <div class="logo">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </header>
    </header>
</body>
</html>
<!-- <link rel="stylesheet" href="/css/header.css">
<body>
    <header>
        <div class="container">
            <div class="nav">
                <div class="head">
                    Billing Software
                </div>
                <div class="links">
                    <a href="/">Home</a>
                    <a href="/user/signout">Signout</a>
                    <a href="/user/signup-page">SignUp</a>
                    
                </div>
                <div class="logo">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </header>
</body> -->
<!-- <div class="container">
    <div class="nav">
        <div class="head">
            Billing Software
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/user/signout">Signout</a>
            <a href="/user/signup-page">SignUp</a>
            
        </div>
        <div class="logo">
            <img src="" alt="">
        </div>
    </div>
</div> -->
