<link rel="stylesheet" href="/css/header.css">
<div class="container">
    <div class="nav">
        <div class="head">
            Billing Software
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/user/signout">Signout</a>
            
        </div>
        <div class="logo">
            <img src="" alt="">
        </div>
    </div>
</div>
