<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f324db610c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/f324db610c.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>

    <div class="main">

        <div class="dash">
            <div class="dash-head">
                <h1>Welcome, CUBE Hotels</h1>
                <div class="account">
                    <a class="account-btn" href="/user/account">
                        <img src="<%=user.image%>" alt="Account">
                    </a>
                </div>

                <div class="signout">
                    <a class="signout-btn" href="/user/signout">
                        <img src="https://cdn-icons-png.flaticon.com/128/1828/1828479.png" alt="SIGN-out">
                    </a>
                </div>
            </div>
            <div class="blocks">

                <div class="cols-block block-1">
                    <a href="/room-dash" id="book-now">
                        <div class="link-btn">
                            <h1>Book Now</h1>
                        </div>
                    </a>
                    <a href="/checkinbookings" id="chekin">
                        <div class="link-btn">
                            <h1>Check-Ins</h1>
                        </div>
                    </a>
                    <a href="/recent-bookings" id="bookings">
                        <div class="link-btn">
                            <h1>All Bookings</h1>
                        </div>
                    </a>

                    <a href="/user/add-category" id="category">
                        <div class="link-btn">
                            <h1 class="bg">Add Category</h1>
                        </div>
                    </a>
                </div>


                <div class="cols-block block-2">

                    <a  href="/reports" id="reports">
                        <img src="https://cdn-icons-png.flaticon.com/128/1170/1170667.png" alt="REPORTS">
                        
                        <div class="report-btn">
                            <h1>Reports</h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>