<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f324db610c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/f324db610c.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <div class="main">

        <div class="dash">
            <a href="/room-dash">Book</a>
            <a href="/checkinbookings">CheckIn bookings</a>
            <a href="/bookings">All bookings</a>
            <a href="/user/add-category">Add Catrgory</a>
            <a href="/addrooms">Add Rooms</a>
            <a href="">Reports</a>
            <a href="">Invoice</a>
        </div>
    </div>

</body>

</html>