@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  /* Container for the form */
  .main {
    color: gray;
    display: flex;
    justify-content: center;
    }
  
  .room-data{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    /* background-color: aquamarine; */
  }
  /* Form styles */
  .rooms {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  
  .rooms form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .rooms input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .rooms button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .rooms button:hover {
    background-color: #0056b3;
  }
  .add-rooms{
    color: whitesmoke;
   background-color: #007bff;
   border-radius: 4px;
   border: none;
   text-align: center;
   font-size: 0.8rem;
  }
  .add-rooms:hover{
    background-color:#0056b3 ;
  }
  
  .cat{
     /* background-color: rgb(101, 109, 106);  */
    width: 90%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
  }

  .room-type{
    width: 20%;
    margin: 1%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-transform: uppercase;
  }

  /* Media queries for responsiveness */
  @media (max-width: 600px) {
    .rooms {
      width: 100%;
      border-radius: 0;
    }
  }
  