@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

main::-webkit-scrollbar {
  display: none;
}

/* Add this CSS to your existing styles or in a separate CSS file */
#popupForm {
  display: none;

}

.popup-form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #5F6FFF;  */
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;

}

/* Container for the form */
.main {
  color: gray;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

}

.room-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  /* background-color: aquamarine; */
}

/* Form styles */
.rooms {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(90, 183, 245, 0.863);
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;

}

.rooms form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rooms input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.rooms button {
  background-color: #5F6FFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rooms button:hover {
  background-color: #0056b3;
}
h1{
  color: #999;
  font-family: Inter;
  /* font-weight: 600; */
}

.add-rooms {
  color: whitesmoke;
  background-color: #5F6FFF;
  font-family: Inter;
  border-radius: 7px;
  border: none;
  text-align: center;
  font-size: 1rem;
  height: fit-content;
  width: 9%;
  text-transform: capitalize;
  margin-left: 70%;


}

.add-rooms:hover {
  background-color: #0056b3;
}

.cat {
  /* background-color: rgb(101, 109, 106);  */
  width: 90%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.room-type {
  margin: 1%;
  margin: 2%;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  text-transform: uppercase;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

/* .add-btn{
    width:100px;
    background-color: rebeccapurple;
  } */

.pop {
  /* padding: 2%; */
  /* background-color: lime; */
  /* color: blue; */
  height: 12vh;
  width: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: none;
  margin-top: 27vh;
  margin-left: 170vh;
  
  

}


.pop img {
  /* margin-top: 50vh;
    margin-left: 170vh; */
  height: 100%;
  width: 100%;
  opacity:1;
}
.pop img:hover{
  opacity: 0.85;
}

.room-data h1 {
  margin-top: 1%;
  margin-right: 70%;
  /* text-align: left; */
}

.popup-form{
  position:sticky; 
   bottom: 40%;
}
/* Media queries for responsiveness */
@media (max-width: 600px) {
  .rooms {
    width: 100%;
    border-radius: 10px;
  }
  .popup-form {
    position: sticky; 
    margin-top:0; 
  }
  .room-data{
    width: 100%;
  }
  .room-type{
    font-size:0.71rem;
    text-align: center;
    width: 100%;
  }
  .add-rooms{
    width: auto;
    height: auto;
    font-size: 0.77rem ;
    margin-left: auto;
  }
  #delete-icn{
    padding:3%;
  }
}
/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .room-data h1 {
    margin-right: 0; 
    text-align: center; 
  }
  
  .pop {
    margin-left:100%; 
    margin-top: 40vh;
    width: 10vh;
    height:10vh;
  }
  .room-type{
    width: 100%;
    
  }
  .room-data{
    width: 100%;
  }
  
  .popup-form {
    position: sticky; 
    margin-top:0; 
  }
}
