/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  
  main::-webkit-scrollbar {
    display: none;
  }
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
  }
  .rnum{
    background-color: gray;
  }
  /* main container */
  .main{
    min-height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  /* Form container */
  .main-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin-top: 5%;
  }
 

  .form{
    margin-top: 2%;
    padding: 2%;
    /* justify-content: center;
    align-items: center;
    display: flex; */
  }
  
  /* Form elements */
  .form input[type="text"],
  .form input[type="number"],
  .form textarea,
  .form input[type="date"],
  .form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button style */
  .form button {
    background-color:#5F6FFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* width: 50%;
    height: 20%; */
  }
  
  .form button:hover {
    background-color:#0056b3;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    Adjust form width for smaller screens
    .main-section {
      width: 100%;
    }
  }
  