@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

.main{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.form{
    /* background-color: aquamarine; */
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    margin-top: 2%;
}
.form-container{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.form form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
   
}
.form form .rooms{
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;

}
.rooms label,select,input{
    height: 5vh;
    width: 15%;
}
#btn{
    background-color: lime;
    width: 8%;
    border: none;
}




.added-rooms{
    /* background-color: rgb(107, 218, 181); */
    height: 70vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.room-bar{
    display: flex;
    align-items: center;

    background-color: aliceblue;
    width: 70%;
    height: 20%;
    font-size: 1.1rem;
    margin-top: 2%;
}
.room-bar div{
    display: flex;
}
.room-data{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: blueviolet; */
    height: 100%;
}
.room-data p{
    /* background-color: aqua; */
    width: 20%;
    
}

.room-head{
    height: 5vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-c{
    width: 70%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    height: 100%;
}
.data-name{
    /* border: 1px solid red; */
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.data-name p{
    width: 20%;
    /* background-color: aqua; */
    /* height: 100%; */
    display: flex;
    align-items: center;
}

.action-btn{
    width: 20%;
    /* background-color: rgb(96, 166, 212); */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.action-btn a{
    font-size: 2rem;
}

.room-table{
    width: 100%;
    /* background-color: aquamarine; */
    margin-top: 3%;
}
table{
    width: 100%;
    
}

table,tr,th,td{
    border: 1px solid black;
}

th,td{
    text-align: center;
}
th{
    background-color: rgb(61, 150, 252);
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination ul{
    width: 80%;
    display: flex;
}
.pagination ul li{
    list-style: none;
    margin: 2%;
    border: 1px solid black;
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination a{
    text-decoration: none;
    color: blue;
}