

.form{
    background-color: aquamarine;
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
}
.form form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
   
}
.form form .rooms{
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;

}
.rooms label,select,input{
    height: 5vh;
    width: 15%;
}
#btn{
    background-color: lime;
    width: 8%;
    border: none;
}




.added-rooms{
    background-color: rgb(107, 218, 181);
    height: 70vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.room-bar{
    display: flex;
    align-items: center;

    background-color: aliceblue;
    width: 70%;
    height: 20%;
    font-size: 1.1rem;
    margin-top: 2%;
}
.room-bar div{
    display: flex;
}
.room-data{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: blueviolet; */
    height: 100%;
}
.room-data p{
    /* background-color: aqua; */
    width: 20%;
    
}

.room-head{
    height: 5vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-c{
    width: 70%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    height: 100%;
}
.data-name{
    /* border: 1px solid red; */
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.data-name p{
    width: 20%;
    /* background-color: aqua; */
    /* height: 100%; */
    display: flex;
    align-items: center;
}

.action-btn{
    width: 20%;
    /* background-color: rgb(96, 166, 212); */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.action-btn a{
    font-size: 2rem;
}