.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invoice{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* padding: 2%; */
    width: 80vh;
}

body::-webkit-scrollbar {
    display: none;
  }
  
  main::-webkit-scrollbar {
    display: none;
  }
.capital{
    text-transform: capitalize;
}
.invoice-head{
    background-color: rgb(160, 147, 147);
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    padding-right: 2%;
    padding-left: 2%;
}
.bill-data{
    display: flex;
}
.address{
    display: flex;
    /* border: 1px solid black; */
    flex: 1;
    padding: 1.5%;
    font-size: 0.8rem;
}
.data{
    display: flex;
    flex-direction: column;
    padding: 1%;
    /* background-color: aqua; */
}
.button{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    /* background-color: aqua; */
}
.button button{
    border: none;
    border-radius: 12px;
    background-color: #5F6FFF;
    padding: 0.8%;
    height: fit-content;
    font-weight: 750;
    color: #f0f8ff;

}
#printButton:hover{
    background-color:#0056b3;
}
.dates{
    display: flex;
    padding: 1%;
    justify-content: space-between;
    background-color: rgb(153, 153, 153);
    padding: 0.8%;
    padding-right: 2%;
    padding-left: 2%;
    font-weight: bold;
}
.calculation table{
    width: 100%;
    margin-top: 25;
}
.calculation{
    padding: 1%;
}
/* .upper-table{
    border: 1px solid rgb(234, 8, 8);
} */
table,tr,th,td{
    border: 1px solid transparent;
    

}
th{
    border: 1px solid gray;
}

.bold{
    font-weight: bold;
}
.cal{
    width: 100%;
    display: flex;
    margin-top: 5%;
}
.lower{
    width: 50%;
}

.cal-table{
    width: 100%;
    /* border: 1px solid black; */
}
.cal-table td{
    font-weight: bold;
}
.dis{
    color: rgb(0, 0, 0);
}
.tot{
    margin-top: 3%;
    background-color: #5f6fff;
    color: #f0f8ff;
}
.heading{
    color: #999;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    color: grey;
    margin-bottom: 4%;
}

/* Media queries for responsiveness */
@media (max-width: 800px) {
    .invoice {
        width: 95%; 
    }
    
    .bill-data {
        flex-direction: column; 
    }
    
    .address {
        padding: 1%; 
    }

    .button {
        height: auto; 
    }

    .button button {
        padding: 5px; 
    }

    .lower {
        width: 100%; 
    }
}


