@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: grey;
    margin: 0;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
  }
  
  main::-webkit-scrollbar {
    display: none;
  }
h2 {
    color: #999;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 565px;
    height:fit-content;
    flex-shrink: 0;
    /* text-align: center; */
    justify-content: center;
    align-items: start;
    margin: 1%;
}

* {
    margin: 0%;
    padding: 0%;
}

p {
    margin: 0%;
    padding: 0%;
}

h1 {
    margin: 0%;
    padding: 0%;
}

.bookings {
    width: 95%;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    
    flex: 1;
    /* flex-basis: 0; */
    /* justify-content: space-evenly; */
    /* background-color: lime; */
    margin: 0;

}

.guest {
    width: 31%;
    /* height: 30vh; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin: 1%;
    padding: 1%;
    display: flex;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);

}

.guest-data {
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    width: 70%;

}

.invoice-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    border-radius: 8px;
    background: #5F6FFF;
    width: 18%;
    /* height: 22%; */
    margin-top: 15%;

}

.all-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    /* border-radius: 8px; */
    /* background:#5F6FFF; */
    width: 22%;
    height: fit-content;
    margin-top: 15%;
}

.all-btn #edit-btn {
    padding: 10px;
    background: #5F6FFF;
    border-radius: 10px;
    height: 3.4vh;
    align-items: center;
    display: flex;
    margin: 5px;
}

.all-btn #checkout-btn {
    padding: 10px;
    background: #5F6FFF;
    border-radius: 10px;
    height: 3.5vh;
    align-items: center;
    display: flex
}

.action a {
    color: whitesmoke;

}

.invoice-btn:hover {
    background-color: #2c40f0;
}

#checkout-btn:hover {
    background-color: #2c40f0;
}

#edit-btn:hover {
    background-color: #2c40f0;
}


.pagination{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 2%;
    /* background-color: #999; */
}
.pagination ul{
    width: 80%;
    display: flex;
}
.pagination ul li{
    list-style: none;
    margin: 2%;
    border: 1px solid black;
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #5F6FFF; */
}
.pagination a{
    text-decoration: none;
    /* background-color: #5F6FFF; */
    color: #5F6FFF;
}

.heading{
    /* background-color: #5F6FFF; */
    width: 100%;
    padding: 2%;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search form{
    width: 85%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 2%;
    align-items: center;
}
.search form input{
    width: 80%;
    height: 6vh;
    border-radius: 5px;
    
}
.reset{
    background-color: aquamarine;
    color: black;
    height: 6vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search form button{
    /* margin-right: 5%; */
    height: 6vh;
    font-size: 1.5rem;
}
/* Add responsive media queries for different screen sizes */
@media (max-width: 768px) {
    .guest {
        width: calc(50% - 20px);
    }

    .invoice-btn {
        width: auto;
    }
}

@media (max-width: 480px) {
    .guest {
        width: 100%;
    }
    .invoice-btn{
        width: auto;
    }

}