@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

.main{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: grey;
}
 h2{
    color: #999;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 565px;
    height: 66px;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    margin: 2%;
}
*{
    margin: 0%;
    padding: 0%;
}
p{
    margin: 0%;
    padding: 0%;
}
h1{
    margin: 0%;
    padding: 0%;
}

.bookings{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 ;
    /* flex-basis: 0; */
    justify-content: space-evenly;
    /* background-color: lime; */
    margin-top: 2%;
    
}

.guest{
    width: 40%;
    /* height: 30vh; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin: 1%;
    padding: 1%;
    display: flex;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.guest-data{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    width: 70%;
    
}
.action{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    height: fit-content;
    border-radius: 8px;
    background:#5F6FFF;
    width: 18%;
    height: 22%;
    margin-top: 15%;

}
.action a{
    color: whitesmoke;
    
}
.action:hover{
    background-color:#2c40f0 ;
}