@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

.main{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.billing{
    width: 90%;
    /* background-color: aquamarine; */
    margin-top: 3%;
}
.billing>h1{
    text-align: center;
}

.bold{
    font-weight: bold;
    text-transform: capitalize;
}

#stayDay {
    width: 10%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    text-align: center; /* Center the text content horizontally */
    padding: 5px; /* Add some padding to center vertically */
    margin: 0 auto; /* Center the input field itself horizontally if needed */
}
.summary{
    /* background-color: antiquewhite; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.sum{
    width: 85%;
}

.date{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    /* border: 1px solid red; */
}

#cout{
    /* width: 25%; */
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    text-align: center; /* Center the text content horizontally */
    padding: 5px; /* Add some padding to center vertically */
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
    width: 70%;
    justify-content: space-evenly;
}
.hide{
    display: none;
    display: none;
}

.checkout{
    display: flex;
    justify-content: space-evenly;
}
.data{
    /* border: 1px solid black/; */
    /* background-color: rgb(141, 225, 231); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50vh;
    width: 40%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    
}
.data .data-block{
    /* border: 1px solid rgb(95, 94, 94); */
    height: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin: 1%;
}
.data-block input{
    height: 5vh;
}
.inpt{
    width: 90%;
    font-size: 0.8rem;
}

.total{
    background-color: gray;
    box-shadow: rgba(35, 132, 211, 0.61) 0px 5px 15px;
    width: 35%;
    padding: 2%;
    display: flex;
    justify-content: center;
}
.total form{
    width: 100%;
    
}
.total-table, td, th{
    width: 100%;
    /* border: 1px solid black; */
}
th{
    margin-left: 2%;
    padding: 1%;
}
#priceNight{
    background-color: transparent;
    border: none;
    width: 8%
}
.btn-summit{
    background-color: rgb(78, 253, 78);
    border: none;
    margin-top: 5%;
    margin-left: 30%;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 12px;
    font-weight: 800;
    
}

#setTime{
    background-color: transparent;
    border: none;
}
.room-summ{
    display: none0;
}
.booking-id{
    display: flex;
    justify-content: center;
}