/* Reset some default styles for body and anchors */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header{
    /* background-color: black; */
    background-color: #5F6FFF;
    

}

a {
    text-decoration: none;
    color: inherit;
}

/* Apply styles to the container */
.container {
    /* background-color: rgb(11, 176, 232); */
    padding: 10px 20px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    /* margin-top: 0.5%; */
    color: #f0f8ff;
    font-weight: 800;
}

/* Style the navigation bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

/* Style the logo */
.logo img {
    max-width: 100px;
    height: auto;
}

/* Style the header text */
.head {
    font-size: 24px;
    font-weight: bold;
}

/* Style the navigation links */
.links{
    margin-left: 75%;
}
.links a {
    margin-left: 20px;
    font-size: 18px;
}

/* Add responsive styles */
@media screen and (max-width: 768px) {
    /* Adjust the navigation links for smaller screens */
    .links {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .links a {
        margin: 10px 0;
    }

    /* Show a hamburger menu icon for smaller screens */
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    /* Hide the logo on smaller screens */
    .logo {
        display: none;
    }
}

