@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #808080; */
    
}
body::-webkit-scrollbar {
    display: none;
  }
  
  main::-webkit-scrollbar {
    display: none;
  }
body{
    box-sizing: border-box;
    /* width: 1440px; */
    height: 1024px;
    background-color: #f8f8f8;
}


*{
    padding: 0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif;
    
 }

 .dash-head{
    display: flex;
    color: rgb(62, 62, 62);
    /* width: 90%; */
    height: 8vh;
    align-items: center;
    /* background-color: aquamarine; */
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 10%;
    /* color: #808080; */

    
 }

.dash{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.blocks {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    /* background-color: aquamarine;  */
    height: 80vh;
    padding: 2%;
    /* border: 2px solid black; */

}

.cols-block{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    justify-content: space-evenly;
    align-items: center;
    width: 70vh;
}

.cols-block a{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 40%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    /* background-color: #b80404; */
}
.cols a:hover{
    box-shadow: rgba(31, 130, 223, 0.473) 0px 5px 15px;
}

.link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #808080;
     border-radius: 12px;
     background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 100;
    
}
.link-btn h1{
    width: min-content;
    /* font-size: 0.5rem; */

}
.signout, .account{
    /* background-color: aquamarine; */
    height: 70%;
    width: 7vh;
   
}
.signout-btn, .account-btn{
    height: 100%;
    width: 100%;
}
.signout-btn img, .account-btn img{
    height: 100%;
    width: 100%;
}
#reports{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: #808080;
background: #FFF;
box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
font-weight: 100;
font-size: 1.5rem;
}
#reports img{
    filter: invert(39%) sepia(56%) saturate(2211%) hue-rotate(219deg) brightness(99%) contrast(104%);
}
#book-now{   
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
    

} 
#chekin{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);



}
#bookings{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);

}
#category{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
#reports{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
  
}
.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.stat-data{
    width: 90%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* .cols #book-now .link-btn{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);} */
    
/* .bg{
    background-color: aqua;
} **/


         /* Media query for smartphones and smaller screens */
         @media (max-width: 768px) {
            .block-1,#book-now,#chekin,#bookings,#category{
                display: flex;
                flex-direction:column;
                height:40%;
                width:100%;
                flex-wrap:wrap;
                /* flex: 1; */
                row-gap: 15%;
                /* margin-top: 10%; */
                margin-left: 13%;
                justify-content: space-evenly;
            }
            .link-btn p{
                font-size: 0.80rem;
            }
           .blocks-2,#reports{
            /* background-color: aquamarine; */
            display:flex;
            margin-top: 12vh;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-left: -84%;
            height: 20%;
            font-size: 0.80rem;
            width: 100%;
           }
           #reports img{
            height: 31%;
            justify-content: center;
            align-items: center;
           }
           .stat-data{
            display: flex;
            align-items: center;
            flex-direction: column;
            /* padding: 0; */
           }
           
           
         }