@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
body{
    box-sizing: border-box;
    width: 1440px;
    height: 1024px;
}


*{
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    
 }

 .dash-head{
    display: flex;
    color: rgb(62, 62, 62);
    width: 90%;
    height: 10vh;
    align-items: center;
    /* background-color: aquamarine; */
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 10%;

    
 }

.dash{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.blocks {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    /* background-color: aquamarine;  */
    height: 80vh;
    padding: 2%;
    /* border: 2px solid black; */

}

.cols-block{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    justify-content: space-evenly;
    align-items: center;
    width: 70vh;
}

.cols-block a{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 40%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    /* background-color: #b80404; */
}
.cols a:hover{
    box-shadow: rgba(31, 130, 223, 0.473) 0px 5px 15px;
}

.link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
   
    color: #808080;
     border-radius: 12px;
     background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.link-btn h1{
    width: min-content;
    /* font-size: 0.5rem; */

}
.signout, .account{
    /* background-color: aquamarine; */
    height: 70%;
    width: 7vh;
   
}
.signout-btn, .account-btn{
    height: 100%;
    width: 100%;
}
.signout-btn img, .account-btn img{
    height: 100%;
    width: 100%;
}
#reports{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* #book-now{   
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    

} 
#chekin{
   width: 260px;
   height: 260px;
   flex-shrink: 0;



}
#bookings{
    width: 260px;
    height: 260px;
    flex-shrink: 0;

}
#category{
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    margin-top: 2.5%;
    margin-left: 3%;
}
#reports{
    width: 595px;
    height: 260px;
    flex-shrink: 0;
    margin-top: 2.5%;
    margin-left: 1%;
  
}
.cols #book-now .link-btn{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);}
     */
/* .bg{
    background-color: aqua;
} **/
