/* Global styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  main::-webkit-scrollbar {
    display: none;
  }
  /* Container for the login form */
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Login form styles */
  .login {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
    height: 300px;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login input {
    padding: 10px;
    border: 1px solid #110101;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f0f8ff;
    font-weight: 700;
  }
  
  .login button {
    background-color: #5F6FFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
  }
  
  .login button:hover {
    background-color: #0056b3;
    }
  