/* Apply basic styles to the body and center the heading */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* align-items: center; */

}

h1 {
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #999;
    font-weight: 600;
}



.vertical {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    margin: 10px;
    /* background-color: #f2f2f2; */
    /* border-radius: 10px; */
    padding: 20px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Style each room type */
.room-type {
    display: flex;

    /* align-items: center; */
    /* flex-direction: column; */
    justify-content: space-between;
    width: 100%;
    color: rgb(123, 121, 121);
    font-weight: 700;

}

.room-num {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}

.data {
    width: 90%;
    display: flex;
}

.room-book {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: #2EB85D;
    color: #f2f2f2;
    width: 110px;
    height: 43px;
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
    text-align: center;
    font-weight: bold;
}

.occupied {
    background-color: #B82E2E;
    color: #f2f2f2;
    width: 110px;
    height: 43px;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
    text-align: center;
    font-weight: bold;
    cursor: not-allowed;

}

.room-type h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.room-type p {
    font-size: 18px;
    margin-bottom: 10px;
}

.room-type a {
    font-size: 18px;
    text-decoration: none;
    color: #036fe3;
    font-weight: 700;
}

.rooms {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.details {
    display: flex;
    flex-direction: column;
}

/* .select{
    background-color: #37eb91;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    height: min-content;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

/* Apply responsive styles using media queries */
@media screen and (max-width: 768px) {
    .room-type {
        padding: 10px;
    }

    .room-type h2 {
        font-size: 20px;
    }

    .room-type p {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .main {
        padding: 10px;
    }

    .room-type {
        padding: 5px;
    }

    .room-type h2 {
        font-size: 18px;
    }

    .room-type p {
        font-size: 14px;
    }

    .room-type a {
        font-size: 14px;
    }
}