/* Apply basic styles to the body and main container */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
body::-webkit-scrollbar {
    display: none;
  }
  
  main::-webkit-scrollbar {
    display: none;
  }
/* Style the rooms section */
.rooms {
    margin-top: 4%;
    background-color: #fff;
    padding: 20px;
    /* border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: gray; */
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
    color: #999;
    font-weight: bold;
}

.rooms h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the room data elements */
.data {
    display: flex;
    flex-wrap: wrap;
}

.data p,
.data a {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border-radius: 18px;
    fill: #2EB85D;
    color: #f2f2f2;
    width: 127px;
    height: 45px;
    flex-shrink: 0;
    text-align: center;
    font-weight: bold;
}

.true {
    /* background-color: rgb(224, 99, 99); */
    background-color: #B82E2E;
    color: #f2f2f2;
}


/* Apply responsive styles using media queries */
@media screen and (max-width: 768px) {
    .rooms {
        padding: 10px;
    }

    .data p,
    .data a {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .main {
        padding: 10px;
    }

    .rooms {
        padding: 5px;
    }

    .data p,
    .data a {
        font-size: 14px;
        padding: 5px;
        margin: 3px;
    }
}


.true {
    background-color:#B82E2E;
    cursor: not-allowed;
}

.false {

    background-color: #2EB85D;
}